.info {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 2rem;
}
.result {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
  justify-content: center;
  align-items: center;
  background-image: url('mole-hidden.png');
}

.mole {
  background-image: url('mole.png');
}

.restart-mole {
  width: 100px;
  height: 40px;
  background-color: aquamarine;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
}
